body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0D0221;
  color: #EAF2EF;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

img {
  width: 40%;
}

.bajaimg {
 box-shadow: #9BC99580 5px 5px 5px 5px;
}

.bothcats {
  box-shadow: #7A306C80 5px 5px 5px 5px;
}

.clipsimg {
  box-shadow: #FFD40080 5px 5px 5px 5px;
}

.guestcatimg {
  box-shadow: #FF595E80 5px 5px 5px 5px;
}